---
import Layout from "@layouts/Layout.astro";
---
<Layout title="Oups !">
<main class="w-full h-full p-4 flex flex-col justify-center items-center font-poppins gap-4">
<h1 class="text-6xl md:text-8xl font-black text-stone-800 dark:text-white">Oups!</h1>
<p class="text-stone-800 dark:text-white my-4">it seems like you lost you way around here</p>
<a class="text-white dark:text-stone-800 bg-stone-800 hover:bg-gray-600 dark:bg-white dark:hover:bg-gray-200 rounded-lg text-sm p-2.5" href="/">Go back home</a>
</main>
</Layout>